@import 'colors.scss';

.continue-with{
    display: flex;
    flex-direction: column;
    gap: 17.95px;
}

.continue-with__link{
    display: block;
    height: 43.07px;
    width: 336.69px;
    border-radius: 8.61px;
    background: $pale-blue;
    border: 2px solid $blue;
    backdrop-filter: blur(1.43578px);

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $blue;
    font-family: 'Source Sans Pro', sans-serif;

    transition: 0.2s;
    text-decoration: none;
    text-align: center;
    padding-top: 8px;


    &:hover{
        background-color: $blue;
        color: $pale-blue;
    }

    &:focus{
        background-color: $blue;
        color: $pale-blue;
    }
}


.continue-with__link-img{
    margin-right: 20.8px;
    margin-bottom: -8px;
}