@import 'colors.scss', 'temp.scss';

.form{
    display: flex;
    flex-direction: column;
    margin-top: 25.78px;
    gap: 8.91px;
}

.form__lable{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $blue;
    display: flex;
	flex-direction: column;
	position: relative;
}

.form__input{
    display: block;
    height: 43.07px;
    width: 336.69px;
    border-radius: 8.61px;
    box-sizing: border-box;
    border: 2px solid $blue;
    border-radius: 8.6147px;
    background: $white;

    color: $blue;
    @extend %small-text;
    letter-spacing: 0.35px;

    padding: 10.76px 17.94px;


    &:focus{
        border-color: $light-green;
        color: $light-grey-blue;
    }
}


.form__show-password{
    position: absolute;
    right: 8px;
    bottom: 14.36px;

    &:focus{
        box-shadow: 0 0 4px;
    }
}


.form__btn{
    display: block;
    width: 336.69px;
    height: 43.07px;
    background: linear-gradient(271.15deg, $orange 7.64%, $mandarin 90.68%), $coral;
    backdrop-filter: blur(1.43578px);
    border-radius: 8.6147px;

    color: $white;
    font-weight: 700;
    font-size: 15.7936px;
    font-family: 'Source Sans Pro', sans-serif;

    margin-top: 10.06px;

    &:hover{
        border: 2px solid $mandarin;
        background: none;
        background-color: $white;
        color: $orange;
    }
    
    &:focus{
        border: 2px solid $mandarin;
        background: none;
        background-color: $white;
        color: $orange;
    }
    
}



