@import 'colors.scss', 'temp.scss';

.login-form{
    display: flex;
	flex-direction: column;
	width: 336.69px;
}

.login-form__header{
    font-weight: 700;
    font-size: 25.84px;
    line-height: 32px;
    color: $grey-blue;

    margin-bottom: 13px;
}

.login-form__question-lable{
    @extend %small-text;
    color: $light-grey-blue;
}

.login-form__link_registration{
    color: $orange;
    text-decoration: none;
    &:hover{
        color: $light-green;
    }
    &:focus{
        color: $light-green;
    }
}



.login-form__question-link{
    @extend %small-text;
    letter-spacing: 0.35px;
    color: $blue;
    text-decoration: none;

    margin-top: 6.46px;

    &:hover{
        color: $light-green;
    }
    &:focus{
        color: $light-green;
    }
}

.login-form__or-lable{
    position: relative;
	margin: 12px 0;
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.35px;
	color: $grey-blue;

    &:before{
        content: "";
        position: absolute;
        left: 56px;
        top: 10px;
        width: 76.1px;
        height: 1px;
        background-color: $grey-blue;
    }

    &:after{
        content: "";
        position: absolute;
        right: 56px;
        top: 10px;
        width: 76.1px;
        height: 1px;
        background-color: $grey-blue;
    }
    
}

