.login-svg{
    position: absolute;
    width: 400.5px;
    height: 411.2px;

    background: linear-gradient(208.82deg, #E3F1FE 18.96%, rgba(227, 241, 254, 0) 91.36%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}